// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.each_letter {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px;
  box-shadow: 0px 0px 30px lightgrey;
  border-radius: 5px;
  padding: 30px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 107, 214, 0.6);
  opacity: 0.9;
  color: black;
  height: 70px;
  width: 70px;
  font-size: 45px;
  margin: 0px 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px lightgrey;
}

p {
  margin: 0px;
}

h1 {
  margin: 0px;
  font-size: 55px;
}
